<style>
     #hdi-container {
            position: relative;
            height: 100%;
            max-width: 100%;
        }
</style>

<style>
     #murder-container {
            position: relative;
            height: 100%;
            max-width: 100%;
        }
</style>

